.leftHeader span{
float: left;
}
.leftHeader{
    display: inline-block;
    margin-left: 235px;
    margin-top: 25px;
}

ul li{
    text-decoration: none;
    display: inline-block;
    margin-right: -2px;
}
.rightHeader{
    float:right;
    margin-right: 235px; 
    margin-top: 25px;
}
#del{
    font-family: 'Yellowtail';
    margin-left: 48px;
    margin-top: -3px;
    font-size: 30px;
}
.ph{
    font-family:'Oswald';
    position: relative;
    height:16px;
    font-size: 11px;
    margin-left: 54px;
    margin-top: -34px;
}

#bor{
    background-image:url('images/bar.jpg');
    background-repeat: no-repeat;
    margin-left: 229px;
    margin-top: 22px;
}
#left{
    margin-left: 235px;
}
#right{
    margin-top: -25px;
    margin-right: 232px;
    float: right;
}
#right span{
    float: left;

}
 .ph1{
    color: gray;
    padding-left: 15px;
    font-size: 12px;
    margin-top: 3px;
}
#hed{
    font-family:'Oswald';  
}
#choclate{
    font-family: 'Oswald';
    margin-top: -22px;
    color: gray;
}
#mainpic img{
    margin-left: 229px;
}

li.space{
    font-family: 'Merriweather';
   
    
}
.space li{
    word-spacing: 5px;
}
.space{
    
    margin-left: 199px;
    margin-right: 193px;
    color: gray;
}
#sheet{
    width: 901px;
    margin-left: 194px;
}
#form{

margin-top: -277px;
margin-left: -34px;
}

.text{
    display: block;
    padding-bottom: 8px;
    font-family: 'Advent Pro';
      
}
.ul1{
    display: grid;
     
    margin-left: 331px;
    margin-top: 9px;
}
.ul2{
    margin-left: 606px;
    margin-top: -178px;
}
.form
{
    display: inline-block;
}
#footimg{
    background-image: url(images/hr-img.png);
    background-repeat: repeat;
}


